.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-weight: 600;
  font-size: 1.4em;
  background-color: white;
  color: #888;
  outline: 1px solid rgb(231, 229, 229);

  transition: background 0.4s;
}
.button-wrapper:hover {
  background: gray;
  color: white;
}
.operator:hover {
  background: green;
  color: white;
}
.equal:hover {
  background: red;
  color: white;
}
.operator {
  background: darkgreen;
  color: white;
}
.equal {
  background: darkred;
  color: white;
}
