.App {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: yellowgreen;
  height: 100vh;
}
.wrapper {
  width: 500px;
  height: 600px;
  padding: 60px 40px 0px 40px;
  background: whitesmoke;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #576446;
  margin: auto;
}
.row {
  display: flex;
  width: 100%;
}
